{% extends 'base.html.twig' %}

{% block title %}Yannick Eich | Full-Stack Developer{% endblock %}

{% block body %}
    <section>
        Vorstellung
    </section>
    <section id="about-me">
        Über mich
    </section>
    <section id="skills">
        Skills
    </section>
    <section id="skills">
        Projects / Contact Me
    </section>
{% endblock %}
